body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* overflow: hidden; */
  object-fit: cover;  
}
.myclass{
  margin: 0 auto;
  width: 220px;
  border: 2px solid gray;
  /* color: gray; */
  height: 365px;
  border-radius: 5px;
}

.add_table{
  margin-left: 10px;
}
.add_table1{
  margin: 3px;
}
